<%- include ("../../_partial/_header.ejs") %>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        $(function () {
            let socket = io("http://localhost:5000");

            socket.on("confirm connection", function (msg) {
                console.log(msg);

            });

            socket.on("refreshPage", function (msg) {
                console.log(msg);
                location.reload();
            });

        });
    </script>

    <div style="padding: 5%;">

        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <% if(currentUser.title=='Mr' ) { %>
                                    <img src="/images/icon-male.jpg" alt="avatar" class="rounded-circle img-fluid"
                                        style="width: 150px;">
                                    <% } else if(currentUser.title=='Ms' || currentUser.title=='Mrs' ) { %>
                                        <img src="/images/icon-female.jpg" alt="avatar" class="rounded-circle img-fluid"
                                            style="width: 150px;">
                                        <% } %>

                                            <h5 class="my-3">
                                                <%= currentUser.title %>.
                                                    <%= currentUser.firstname %>
                                                        <%= currentUser.lastname %>
                                            </h5>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="/editaccount" class="btn btn-primary"
                                                    style="background-color: #2a3353; border-color: #2a3353;">Edit</a>
                                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= currentUser.firstname %>
                                                <%= currentUser.lastname %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= currentUser.email %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= currentUser.contact %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">NIC</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= currentUser.nic %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= currentUser.address %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">History</span></p>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Reservation ID</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="mb-0">Hall</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="mb-0">Date</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="mb-0">Time</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="mb-0">Status</p>
                                    </div>
                                </div>
                                <hr>
                                <% reservations.forEach(function(reservation) { %>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="text-muted mb-0">
                                                <%= reservation._id %>
                                            </p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="text-muted mb-0">
                                                <%= reservation.hallType %>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="text-muted mb-0">
                                                <%= reservation.eventDate %>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="text-muted mb-0">
                                                <%= reservation.eventTime %>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">

                                            <% if (reservation.status=='Awaiting' ) { %>
                                                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                                                <% } else if (reservation.status=='Onboarding' ) { %>
                                                    <span
                                                        class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                                                    <% } else if (reservation.status=='Confirmed' ) { %>
                                                        <span
                                                            class="badge badge-success rounded-pill d-inline">Confirmed</span>
                                                        <% } else if (reservation.status=='Cancelled' ) { %>
                                                            <span
                                                                class="badge badge-danger rounded-pill d-inline">Cancelled</span>
                                                            <% } %>
                                        </div>
                                    </div>
                                    <hr>
                                    <% }) %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

    <%- include ("../../_partial/_footer.ejs") %>