<%- include ("../../_partial/_header.ejs") %>

    <div style="padding: 8% 5% 5% 5%;">

        <h3 class="display-6">Contact History</h3>

        <table class="table table-striped table-hover" style="background-color: white;">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <% contacts.forEach(function(contact) { %>

                    <tr>
                        <td>
                            <p class="fw-bold mb-1">
                                <%= contact.name %>
                            </p>
                        </td>
                        <td>
                            <p class="text-normal mb-0">
                                <%= contact.email %>
                            </p>
                        </td>
                        <td>
                            <p class="text-normal mb-0">
                                <%= contact.message %>
                            </p>
                        </td>
                        <td>
                            <p class="text-normal mb-0">
                                <%= contact.submittedAt %>
                            </p>
                        </td>

                        <td style="text-align: center;">
                            <% if (contact.status=='Responded' ) { %>
                                <span class="badge badge-success rounded-pill d-inline">
                                    <%= contact.status %>
                                </span>
                            <% } else if (contact.status=='Awaiting' ) { %>
                                <span class="badge badge-warning rounded-pill d-inline">
                                    <%= contact.status %>
                                </span>
                                <p></p>
                                <button type="button" class="btn btn-outline-success btn-rounded" 
                                    data-mdb-ripple-color="dark" style="padding: 4% 5% 4% 5%; font-size: x-small;">
                                    &#10004;Responded
                                </button>
                            <% } %>
                        </td>
                    </tr>

                <% }) %>

            </tbody>
        </table>

    </div>

    <%- include ("../../_partial/_footer.ejs") %>