<%- include ("../../_partial/_header.ejs") %>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        $(function () {
            let socket = io("http://localhost:5000");

            socket.on("confirm connection", function (msg) {
                console.log(msg);
                
            });

            socket.on("refreshPage", function (msg) {
                    console.log(msg);
                    location.reload();
                });

        });
    </script>

    <div style="padding-left: 15%;">
        <!--<div style="padding: 5% 5% 5% 20%;">-->

        <!-- Sort By -->
        <div class="btn-group shadow-0" style="border-radius: 50px; padding: 1%;">
            <button type="button" class="btn btn-light dropdown-toggle" data-mdb-toggle="dropdown" style="border-radius: 50px;"
                aria-expanded="false">
                Sort By
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/eventsList">All</a></li>
                <li><a class="dropdown-item" href="/eventsList/sort/confirmed">Confirmed</a></li>
                <li><a class="dropdown-item" href="/eventsList/sort/onboarding">Onboarding</a></li>
                <li><a class="dropdown-item" href="/eventsList/sort/awaiting">Awaiting</a></li>
                <li><a class="dropdown-item" href="/eventsList/sort/cancelled">Cancelled</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="/eventsList/sort/eventDateAsc"><i class="fas fa-arrow-down"></i> Event Date</a></li><!--Asc-->
                <li><a class="dropdown-item" href="/eventsList/sort/eventDateDesc"><i class="fas fa-arrow-up"></i> Event Date</a></li><!--Desc-->
                <li><a class="dropdown-item" href="/eventsList/sort/submittedDateAsc"><i class="fas fa-arrow-down"></i> Submitted Date</a></li>
                <li><a class="dropdown-item" href="/eventsList/sort/submittedDateDesc"><i class="fas fa-arrow-up"></i> Submitted Date</a></li>
                <!--<li><a class="dropdown-item" href="#">Separated link</a></li>-->
            </ul>
        </div>

        <table class="table table-striped table-hover" style="background-color: white;">
            <thead class="table-dark">
                <tr>
                    <th>Reservation ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Hall</th>
                    <th>Date | Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <% reservations.forEach(function(reservation) { %>
                    <div>
                        <tr>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation._id %>
                                </p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">
                                            <%= reservation.title %>. <%= reservation.firstname %>
                                                    <%= reservation.lastname %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.contact %>
                                </p>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.hallType %>
                                </p>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.eventDate %>
                                        <%= reservation.eventTime %>
                                </p>
                            </td>
                            <td>
                                <% if (reservation.status=='Awaiting' ) { %>
                                    <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                                    <% } else if (reservation.status=='Onboarding' ) { %>
                                        <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                                        <% } else if (reservation.status=='Confirmed' ) { %>
                                            <span class="badge badge-success rounded-pill d-inline">Confirmed</span>
                                            <% } else if (reservation.status=='Cancelled' ) { %>
                                                <span class="badge badge-danger rounded-pill d-inline">Cancelled</span>
                                                <% } %>
                            </td>
                            <td>
                                <a href="/eventsList/<%= reservation._id %>" target="_blank"><i
                                        class="fas fa-external-link-alt"></i></a>
                            </td>

                        </tr>

                    </div>

                    <% }) %>

            </tbody>
        </table>

    </div>



    <%- include ("../../_partial/_footer.ejs") %>