<%- include ("../../_partial/_header.ejs") %>

    <div style="padding-left: 15%;">
        <!--<div style="padding: 5% 5% 5% 20%;">-->

        <table class="table table-striped table-hover" style="background-color: white;">
            <thead class="table-dark">
                <tr>
                    <th>Reservation ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Hall</th>
                    <th>Date | Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <% reservations.forEach(function(reservation) { %>
                    <div>
                        <tr>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation._id %>
                                </p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">
                                            <%= reservation.title %>. <%= reservation.firstname %>
                                                    <%= reservation.lastname %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.contact %>
                                </p>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.hallType %>
                                </p>
                            </td>
                            <td>
                                <p class="text-normal mb-0">
                                    <%= reservation.eventDate %>
                                        <%= reservation.eventTime %>
                                </p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline">Confirmed</span>
                                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                                <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                            </td>
                            <td>
                                <a href="eventsList/<%= reservation._id %>" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            </td>

                        </tr>

                    </div>

                <% }) %>

            </tbody>
        </table>

    </div>



    <%- include ("../../_partial/_footer.ejs") %>